body, #root {
  background: #282c34;
  font-family: "Dalek";
  overflow-y: overlay;
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

#root {
  /* Making the wrapper stack above the body */
  z-index: 2;
}

//disable scroll
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Dalek";
  src: url("DALEK.ttf") format("truetype");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-margin {
  margin-top: 10%;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardlist-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.card-list {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;

  > img {
    position: absolute;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    line-height: 96px;
    width: 700px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
}

.button {
  background: red;
  cursor: pointer;
}

.player-selector {
  display: flex;
  list-style: none;
  cursor: pointer;

  .player-item {
    padding-right: 15px;
    cursor: pointer;

    &.selected {
      color: blue;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.hades {
  position: absolute;
  display: block;
  top: 0;
  opacity: 0;
  pointer-events: none;
  width: 700px;
  max-width: 100%;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  line-height: 96px;
  height: auto;
  border: 1px solid black;
  cursor: pointer;
}

.favors {
  position: absolute;
  width: 450px;
  max-width: 80%;
  height: auto;
}

.hadesContainer {
  display: flex;
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 2rem;

  @media only screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.hadesCounterContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.hadesCounter {
  position: absolute;
  display: inline-block;
  top: 0;
  height: 3rem;
  width: 3rem;
  background-color: #bbb;
  border-radius: 50%;
  opacity: 0.9;
  background: radial-gradient(circle at 100px 100px, grey, lightgrey);

  @media only screen and (max-width: 450px) {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.favor-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.numbers {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.options {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5rem;

  .checkbox-container {
    display: flex;
    flex-direction: column;

    .checkbox-item {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    input[type="checkbox"] {
      width: 45px;
      height: 45px;
      margin-left: 5%;
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 1024px) {
    font-size: 5rem;
  }

  @media only screen and (max-width: 450px) {
    font-size: 2.5rem;
  }
}

.active-text {
  cursor: pointer;
  font-size: 3rem;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  @media only screen and (min-width: 451px) and (max-width: 1024px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.start {
  flex-direction: column;
  list-style: none;
  font-size: 5rem;
  padding: 0;

  li {
    cursor: pointer;
  }
}

.player-text {
  margin-right: 10px;
}

.top-container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  z-index: 999;
}

.dice-container {
  display: flex;
}

.dice-face {
  background: black;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin: 10px;
  line-height: 1.5rem;
  color: gold;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10%;
  box-shadow: inset 0 5px grey, inset 0 -5px grey, inset 5px 0 grey,
    inset -5px 0 grey;
}
